body {
     font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
   /* H1グーグルfont指定 */
   font-family: "Noto Sans JP", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 40px;
   letter-spacing: 1.2em;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   border-bottom: 3px solid rgb(115, 115, 114);
}


body {
    font-size: 20px;
    text-align: center;
}

.text-box {
    color: skyblue;
}
.text-box2 {
    color: pink;
}

.text-box3 {
    font-weight: bold;
}

